.menu_btn {
  position: fixed;
  right: 5px;
  top: 5px;
  padding: 10px;
  color: #86c232;
  z-index: 5;
  cursor: pointer;
  transition: transform 0.75s ease-out;

  &.close_menu {
    transform: rotate(-90deg);
  }
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  text-align: center;
  opacity: 0.9;
  overflow: hidden;
  transform: translate3d(0, -100%, 0);
  transition: transform 0.75s ease-out;

  &.show_menu {
    transform: translate3d(0, 0, 0);
  }

  & .menu_list {
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: darken(#222629, 5);
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  & li {
    margin: 5%;
    transform: translate3d(600px, 0, 0);
    transition: transform 0.75s ease-out;

    &.current > a {
      font-weight: bold;
      color: #86c232;
    }

    & a {
      font-size: 130%;
      white-space: nowrap;

      &:hover {
        color: #86c232;
      }
    }

    &.show_menu {
      transform: translate3d(0, 0, 0);
    }
  }
}

@for $i from 2 to 7 {
  .nav_item:nth-child(#{$i}) {
    transition-delay: $i * 0.1s;
  }
}
